a.nostyle{
	color:inherit;
	text-decoration:none;
	padding:0;
	margin:0;
}
div.portfoliocard{
	position:relative;
	width:400px;
  	height:270px;
	background:rgba(255,255,255,1);
	box-shadow:0px -1px 3px rgba(0,0,0,0.1),
				0px 2px 6px rgba(0,0,0,0.5);
	border-radius:6px;
	margin:10% auto;
	overflow:hidden;
	z-index:100;
}
div.portfoliocard div.coverphoto{
  position:relative;
	width:100%;
  top:80px;
	height:120px;
	background-size: 100%;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
				1px 0px 2px rgba(255,255,255,0.7);
	z-index:98;
}
div.portfoliocard div.profile_picture{
	width:110px;
	height:110px;
	background:rgba(255,255,255,1);
	position:absolute;
	top:10px;
	left:30px;
	border-radius:100%;
	background-size:100% 100%;
	padding:7px;
	border:4px solid rgba(255,255,255,1);
  z-index:99;
}

div.portfoliocard div.free {
	border: 4px solid rgba(27, 253, 2, 1);
}

div.portfoliocard div.busy {
	border: 4px solid rgba(253, 2, 2, 1);
}

div.portfoliocard div.title_col{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60%;
	box-sizing:border-box;
}

div.portfoliocard div.event_desc{
	position:absolute;
	bottom:0px;
}

div.portfoliocard div.event_desc h2.name{
	font-size:18px;
	font-weight:300;
	color: rgba(30,30,30,1);
	padding:0;
	margin:20px 10px 0px 30px;
}
div.portfoliocard div.event_desc h3.description{
	font-size:14px;
	font-weight:300;
	color:rgba(170,170,170,1);
	padding:0;
	margin:-5px 10px 10px 30px;
}
