a.nostyle{
	color:inherit;
	text-decoration:none;
	padding:0;
	margin:0;
}
div.portfoliocard{
	position:relative;
	width:410px;
  	height:310px;
	background: rgba(255, 255, 255, 0.9);
	color: #575858;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	overflow:hidden;
	z-index:100;
}
div.portfoliocard div.coverphoto{
  position:relative;
	width:100%;
  top:80px;
	height:140px;
	background-size: 100%;
	z-index:98;
}
div.portfoliocard div.profile_picture{
	width:110px;
	height:110px;
	background:rgba(255,255,255,1);
	position:absolute;
	top:10px;
	left:30px;
	border-radius:100%;
	background-size:100% 100%;
	padding:7px;
	border:4px solid rgba(255,255,255,1);
  z-index:99;
}

div.portfoliocard div.free {
	border: 4px solid rgba(27, 253, 2, 1);
}

div.portfoliocard div.busy {
	border: 4px solid rgba(253, 2, 2, 1);
}

div.portfoliocard div.title_col{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60%;
	box-sizing:border-box;
}

div.portfoliocard div.event_desc{
	position:absolute;
	bottom:5px;
}

div.portfoliocard div.event_desc h2.name{
	font-size:18px;
	font-weight:300;
	padding:0;
	margin:20px 10px 0px 30px;
}
div.portfoliocard div.event_desc h3.description{
	font-size:14px;
	font-weight:300;
	padding:0;
	margin:-5px 10px 10px 30px;
}

span.hover :hover{
    text-decoration:underline;
}
